<div class="container">
  <h1 class="container-title">
    LET'S SOLVE YOUR CALCULATION WITH ARTIFICIAL INTELLIGENCE
  </h1>

  <textarea rows="7" cols="100" [(ngModel)]="mathExpression" class="container-input"
    placeholder="Enter your calculation here">
  </textarea>

  <div class="container-answer">
    Result
    <p class="container-answer-text">{{ result }}</p>
  </div>

  <div class="container-buttons">
    <button (click)="reset()" 
    [disabled]="disabledReset"
    class="container-button container-button-reset">
      Reset
    </button>

    <button (click)="calculateExpression()" 
    class="container-button">
      Calculate
    </button>
  </div>
</div>