/* You can add global styles to this file, and also import other style files */
@import "./assets/fonts/Poppins.scss";

html, body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    overflow: hidden;
}

body {
    font-family: 'Poppins';
}
